@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("./fonts.css");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: hidden;
}
::-webkit-scrollbar {
  display: none;
}

section {
  padding: 60px 0;
}

@media (min-width: 1024px) {
  section {
    padding: 120px 0;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-semibold leading-10 md:leading-none text-4xl md:text-6xl uppercase;
  }
  h2 {
    @apply font-semibold text-2xl lg:text-5xl;
  }
  h3 {
    @apply font-semibold text-xl md:text-3xl;
  }
  h4 {
    @apply font-semibold text-lg md:text-2xl;
  }
  h5 {
    @apply font-semibold text-sm md:text-xl;
  }
  h6 {
    @apply md:font-semibold md:text-lg;
  }
  .outline {
    @apply font-normal text-sm;
  }
  .subtitle {
    @apply font-semibold text-xs;
  }
  p {
    @apply font-extralight text-base;
  }
  .light {
    @apply text-white font-extralight opacity-50;
  }
}

@layer components {
  .btn {
    @apply w-40 h-12 border-0 grid place-content-center text-xs font-semibold uppercase tracking-widest cursor-pointer;
  }
  .btn.gold {
    @apply text-white bg-D87D4A;
  }
  .btn.gold:hover {
    @apply bg-FBAF85;
  }
  .btn.white {
    @apply text-black bg-white border border-black;
  }
  .btn.white:hover {
    @apply text-white bg-black;
  }
  .btn.black {
    @apply text-white bg-black;
  }
  .btn.black:hover {
    @apply bg-4C4C4C;
  }
  .wrapper {
    @apply mx-6 md:mx-8 lg:m-auto lg:w-11/12 lg:max-w-6xl;
  }
}
